.tag {
  background: none;
  color: #293f5c;
  font-size: 0.8em;
  padding: 0.2em 0.5em;
  border: 1px solid #293f5c;
  border-radius: 1em;
  line-height: 1em;
  margin: 0.2em;
  cursor: pointer;
  user-select: none;
}
.tag input {
  display: none;
}
.tag input:checked + span::after{
  content: "âŒ";
}
