.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  margin: 0;
  backdrop-filter: blur(4px);
}
.modal::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #0000007f;
  z-index: -1;
}
