.card {
  background-color: white;
  border-radius: 0.5em;
  box-shadow: 0 0 0.2em 0 #ccc;
  display: inline-block;
  padding: 0.5em 1em;
  box-sizing: border-box;
}
.card h1,
.card h2 {
  color: #1c2137;
  display: flex;
  gap: 2em;
}
