.intro {
  display: flex;
}
.intro img {
  max-width: 32%;
  max-height: 20em;
}
.reviews {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.reviews > div {
  flex: 1 1 auto;
  width: 45%;
}

.menu button {
  width: 100%;
  background: #265799;
  color: white;
  border: none;
  outline: none;
  font-size: 1.2em;
  border-radius: 0.2em;
  padding: 0.5em;
  position: fixed;
  bottom: 0;
  left: 0;
}
