.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app > * {
  width: 80%;
  margin: 0.5em;
  display: flex;
  gap: 1.5em;
  & > div {
    flex: 1 1 auto;
  }
}
